{% layout 'layout.liquid' %}
{% block content %}

    <div class="container-sm">
        <form action="/jackets/{{jacket.id}}?_method=PUT" method="POST">
            <fieldset>
                <legend>Edit {{jacket.name}}</legend>
                <label class="form-label">Name: </label>
                <input
                    class="form-control"
                    type="text"
                    name="name"
                    placeholder="enter the Jacket name"
                    value="{{ jacket.name }}"
                >
                <label class="form-label">Color: </label>
                <input
                    class="form-control"
                    type="text"
                    name="color"
                    placeholder="what color is the jacket?"
                    value="{{ jacket.color }}"
                >
                <label class="form-label">waterProof: </label>
                <input
                    class="form-check-input"
                    type="checkbox"
                    name="waterProof"
                    {% if jacket.waterProof %}
                        checked
                    {% endif %}
                >
            </fieldset>
            <input
                class="btn btn-success"
                type="submit"
                value="Edit {{jacket.name}}"
            >
        </form>
    </div>

{% endblock %}